@page "/weather"
@attribute [StreamRendering(true)]

@inject WeatherApiClient WeatherApi

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

<div>
    @if (@currentCount >= 0)
    {
        <p>Current count: @currentCount</p>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
</div>

@code {
    private int currentCount = -1;

    protected override async Task OnInitializedAsync()
    {
        currentCount = await WeatherApi.GetCurrentCountAsync();
    }
}
